<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="style/style.css">
</head>

<body>
    <div id="box" v-cloak>
        <header style="border-bottom: 0.01rem solid #ccc;">
            <div style="width:10%;float: left;">
                <a href="#/no1/分类">
                    <</a> </div> <div style="width: 90%; float:left;">
                        {{$route.params.type}}
            </div>

        </header>
        <div>
            <router-view></router-view>
        </div>
    </div>
    <template id="no1">
        <div>
            <div v-for="(i,$key,$index) in arr">
                <p class="title">
                    {{$key=='girl'?'女生分类':'男生分类'}}
                </p>
                <ul>
                    <li v-for='(name,$index) in i'>

                        <div class="img"></div>
                        <div v-for=" (j,$key,$j) in name">
                            <a :href="'#/no2/'+$key+'/'+j.cid+'/'+j.relatedName">
                                <div style="color:#000;">
                                    {{$key}}
                                    <p>
                                        <span v-for='(o,$o) in j.list'>{{o}}{{j.list.length-1==$o?'':' | '}}</span>
                                    </p>
                                </div>
                            </a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </template>
    <template id="no2">
        <div>
            <div class="list">
                <div v-for="i in arr.class" @click="type=i.name,get(i.name)" :style="{color:type==i.name?'green':''}">
                    {{i.name}}
                </div>
                <div v-for="j in arr.tag" @click="type=j.name,get2(j.name)" :style="{color:type==j.name?'green':''}">
                    {{j.name}}
                </div>
            </div>

            <div>
                <div>
                    <div class=" item m-one" v-for="i in list">
                        <div class="u-l">
                            <img :src="i.cover" alt="">
                        </div>
                        <div class="u-r">
                            <h3>{{i.title}}</h3>
                            <div class="u-btn">
                                <p style="color:#ccc;font-size: 0.2rem;">{{i.author}}</p>
                                <p style="color:#ccc;font-size: 0.2rem;line-height: 0.30rem;">
                                    {{i.desc.length>50?i.desc.substr(0,35):''}}{{'...'}}
                                </p>
                            </div>
                            <div class="book-tag">
                                <span v-for="(a,$a) in i.tags.split(',')">{{a}}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </template>
</body>
<script src="js/vue.js"></script>
<script src="js/vue-resource.min.js"></script>
<script src="js/vue-router.js"></script>
<script>

    const router = new VueRouter({
        routes: [{
            path: '/',
            redirect: "/no1/分类",

        }, {
            path: '/no1/:type',
            component: {
                template: "#no1",
                data() {
                    return {
                        arr: null,
                    }
                },
                methods: {
                    post() {
                        this.$http.post('http://walden1.shuqireader.com/webapi/rank/classrelation', {
                            type: 1,
                            timestamp: '1567241878250',
                            sign: 'bac15e75b1ab7d33bdc179c539f8402d',
                            shuqi_h5: ''
                        }, { emulateJSON: true }).then(
                            (data) => {
                                this.arr = data.data.data;
                                console.log(this.arr);
                            }
                        )
                    },
                },
                created() {
                    this.post();
                },
            }
        }, {
            path: "/no2/:type/:uid/:name",
            component: {
                template: "#no2",
                data() {
                    return {
                        arr: '',
                        list: '',
                        uid: '',
                        name: '',
                        type: ''
                    }
                },
                methods: {
                    post() {
                        this.uid = this.$route.params.uid;
                        this.name = this.$route.params.name;

                        this.$http.post('http://walden1.shuqireader.com/webapi/rank/classrelation?_=1571233265900', {
                            type: '2',
                            cid: this.uid,
                            timestamp: '1571233265896',
                            sign: '8065c77c6f0619b8a5b448bed228800f',
                            shuqi_h5: '',
                        }, { emulateJSON: true }).then(
                            (data) => {
                                this.arr = data.data.data;
                                console.log(this.arr);
                            }
                        )
                        this.$http.get('http://read.xiaoshuo1-sm.com/novel/i.php?do=is_caterank&p=1&page=1&words=&shuqi_h5=&onlyCpBooks=1&secondCate=%E7%8E%B0%E4%BB%A3%E8%A8%80%E6%83%85&sort=monthHot&_=1571222214835', {
                            params: {
                                do: 'is_caterank',
                                p: 1,
                                page: 1,
                                words: '',
                                shuqi_h5: '',
                                onlyCpBooks: 1,
                                secondCate: this.name,
                                sort: 'monthHot',
                                _: 1571222214835,
                            }
                        }).then(data => {
                            this.list = data.data.data;
                            console.log(this.list);
                        })
                    },
                    get(cate) {
                        this.$http.get('http://read.xiaoshuo1-sm.com/novel/i.php?do=is_caterank&p=1&page=1&words=&shuqi_h5=&onlyCpBooks=1&secondCate=%E5%94%AF%E7%BE%8E%E7%AB%A5%E8%AF%9D&sort=monthHot&_=1571236610836', {
                            params: {
                                do: 'is_caterank',
                                p: 1,
                                page: 1,
                                words: '',
                                shuqi_h5: '',
                                onlyCpBooks: 1,
                                secondCate: cate,
                                sort: 'monthHot',
                                _: '1571236610836',
                            }
                        }).then(data => {
                            this.list = data.data.data;
                            console.log(this.list);
                        })
                    },
                    get2(tag) {
                        this.$http.get('http://read.xiaoshuo1-sm.com/novel/i.php?do=is_caterank&p=1&page=1&words=&shuqi_h5=&onlyCpBooks=1&tag=%E8%85%B9%E9%BB%91&sort=monthHot&_=1571237628792', {
                            params: {
                                do: 'is_caterank',
                                p: 1,
                                page: 1,
                                words: '',
                                shuqi_h5: '',
                                onlyCpBooks: 1,
                                tag: tag,
                                sort: 'monthHot',
                                _: 1571237628792,
                            }
                        }).then(data => {
                            this.list = data.data.data;
                            console.log(this.list);
                        })
                    }

                },
                created() {
                    this.post()
                    console.log(this.$route.params.type);
                },
            },
        }]
    })



    new Vue({
        el: '#box',
        data: {
            arr: null,
        },
        router,


    })


    window.onload = function () {
        document.documentElement.style.fontSize = document.documentElement.clientWidth / 640 * 100 + 'px';
        window.onresize = function () {
            document.documentElement.style.fontSize = document.documentElement.clientWidth / 640 * 100 + 'px';
        }
    }
</script>

</html>